<!DOCTYPE html>
<html lang="en">
<head>
  <title>Retailer Sales</title>
  <link rel="stylesheet" href="sales.css">
</head>
<body>

<h1 id="Introduction">Introduction</h1>
<p>This web-page presents the annual performance of our favorite retailer.</p>
<p>It is organized as follows</p>
<ul>
<li> Products that have been monitored as well as the quantities of each of the products
that have been sold monthly are presented <a href="#SectionProductsAndSales">here</a>.
<li> Profits realized on each product are presented <a href="#SectionProfits">here</a>.
</ul>


<h1 id="SectionProductsAndSales">Products and Sales</h1>
<p>For the purpose of this study, we made a selection of products according to
<a href="#litloya2012select">Litl&oslash;ya's method</a>.</p>
<p>We shall first present products, then monthly sales.</p>

<h2 id="SubSectionProducts">Products</h2>
<p>Here follows the list of products we chose to monitor:</p>

__PRODUCTS__

<h2 id="SubSectionSales">Sales</h2>

<p>The following table reports the quantities of each product sold per month, over the last year.</p>

__SALES__


<h1 id="SectionProfits">Profits</h1>

<p>The following table reports the profits realized on each product per month and over the last year.</p>
<p>The last row reports the global profits realized each month on the monitored products</p>

__PROFITS__


<h1 id="SectionConclusion">Conclusion</h1>
<p>As the reader can see, our company performed well last year, in line with market expectations.</p>

<h1 id="SectionReferences">References</h1>
<ol>
<li id="litloya2012select"> H&aring;kon Litl&oslash;ya. Select the right sample. Journal of Retailing.
Marketing Publishers. pp 143-159, March, 2012.</li>
</ol>

</body>
</html>
