<h2>Circuit Some_name</h2><ul><li>Tank TI</li><li>PipeStraight(P1, inside_diameter=0.32, length=10, angle=0)</li><li>Pump(Pu1, efficiency=0.76)</li><li>PipeStraight(P2, inside_diameter=0.32, length=10, angle=0)</li><li>PipeBend(B1)</li><li>PipeStraight(P3, inside_diameter=0.32, length=6, angle=90)</li><li>Valve(V1, openness=True)</li><li>PipeBend(B2)</li><li>PipeStraight(P4, inside_diameter=0.32, length=10, angle=0)</li><li>Filter(F1, cleanliness=True)</li><li>PipeStraight(P5, inside_diameter=0.32, length=10, angle=0)</li><li>Tank TE</li></ul>
<table><img src="inside_diameter_study.png"><img src="Inside%20diameter%20study.png"></table>
<table><img src="Inside%20diameter%20study.png"><img src="inside_diameter_study.png"></table>

